.modal-form-row {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
}

.input-col {
    flex: 1;
    min-width: 0;
}

.modal-footer-actions {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
}